.header-top {
    background-color: $mainColor;
    text-align: right;

    .header-top-container {
        padding: 5px 0;

        a {
            display: inline-block;
            color: $mainTextColor;
            font-size: $secondaryFontSize / 2;
        }

        & a:first-child {
            margin-right: $mainSpace;
        }

        i {
            color: $mainTextColor;
            cursor: pointer;
        }
    }
}


.header-bottom {
    // border-bottom: 1px solid #ebebeb;

    .header-bottom-container {
        @include dispayFlex(row, space-between, center);

        .header-logo-container {
            height: 80px;
            width: 80px;
            a {
                display: block;
                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        .nav-menu{

            ul {
                @include dispayFlex(row, center, center);
            }

            li {
                padding: 0 $mainSpace / 2;

                a {
                    display: inline-block;
                    font-size: $mainFontSize;
                    color: $secondaryTextColor;
                    font-weight: bold;
                    padding: 45px 0;
                    border-bottom: 4px solid transparent;
                }

                i {
                    color: $mainColor;
                }

                &:hover a {
                    color: $mainColor;
                    border-bottom: 4px solid $mainColor;
                }
            }
        }
    }

    .header-bottom-search {
        input {
            outline: none;
            border: none;
            font-size: $mainFontSize;
            text-align: right;
            width: 100px;
            border-bottom: 4px solid $mainColor;
        }
    }
}
