.jumbotron {
    padding: 200px;
    background-image: url('../images/jumbotron.jpg');
    object-fit: cover;
    object-position: center;
    background-position: top;
    background-repeat: no-repeat;
}
