.post-card-row {
    background-color: $mainColor;
    padding: $mainSpace * 2 0;
    position: relative;

    .post-card-image-container {
        position: absolute;
        bottom: 10px;
        border: 1px solid #fff;

        img {
            display: block;
        }
    }
}



.comic-description-container {
    @include dispayFlex(row, space-between, flex-start);
    padding: $mainSpace * 2 0;
    h1 {
        color: $singlePagTextColor;
        font-size: 38px;
    }
    .comic-description-left {
        padding-right: $mainSpace;

        .shop-info-top {
            @include dispayFlex(row, space-between, center);
            background-color: #55ba59;
            margin: $mainSpace 0;
            color: $mainTextColor;
            border-bottom: 1px solid #357739;

            & > span {
                display: inline-block;
                padding: $mainSpace $mainSpace / 2;
                flex-grow: 1;
                text-align: center;
            }
            & > span:first-child {
                flex-grow: 2;
                text-align: left;
                & > span:first-child {
                    color: #bafd9c;
                }

            }
            & > span:nth-child(2) {
                border-right: 1px solid #357739;
                color: #bafd9c;
            }
        }
        .shop-info-bottom {
            p {
                line-height: 1.6;
            }
        }
    }

    .comic-description-right {
        padding-left: $mainSpace;
        text-align: right;

        .description-img-container {
            display: inline-block;
            width: 300px;
            height: 250px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

.comic-spec-table {
    background-color: #f6f6f6;
    padding: $mainSpace 0 $mainSpace * 6 0;

    .spec-left {
        padding-right: $mainSpace * 2;
    }
    .spec-right {
        padding-left: $mainSpace * 2;
    }

    .spec-left, .spec-right {
        float: left;
        width: 50%;

        h2 {
            color: $singlePagTextColor;
            padding: $mainSpace 0;
        }

        h3 {
            color: $singlePagTextColor;
            width: 170px;
            font-size: $mainFontSize;
        }

        ul {
            li {
                @include dispayFlex(row, flex-start, flex-start);
                padding: $mainSpace / 2 0;
                border-top: 1px solid #e3e3e3;
            }
            & li:last-child {
                border-bottom: 1px solid #e3e3e3;
            }
            & li span {
                font-size: 14px;
                color: $mainColor;
            }
            & li span.dark-text {
                color: $singlePagTextColor;
            }
        }
    }

}

.comic-spec-icons {
    background-color: #f6f6f6;
    border-top: 1px solid #e3e3e3;

    .spec-icons-container{
        @include dispayFlex(row, center, center);

        & :last-child.spec-card-icon {
            border-right: 1px solid #e3e3e3;
        }

        .spec-card-icon {
            @include dispayFlex(row, space-between, flex-start);
            width: calc(100% / 4 - 2px);
            border-left: 1px solid #e3e3e3;
            padding: $mainSpace / 2;

            h4 {
                font-size: 14px;
                color: $singlePagTextColor;
            }

            .icon-container {
                width: 37px;
                height: 37px;
                background-image: url('../images/cta-icons.png');
            }

            // &:nth-child(1) {
            //
            //     .icon-container {
            //     background-position: 0px 0;
            //     }
            //
            //     &:hover .icon-container {
            //         background-position: 0 $valueForBgImages;
            //     }
            // }
            //
            // &:nth-child(2) {
            //
            //     .icon-container {
            //     background-position: $valueForBgImages 0;
            //     }
            //
            //     &:hover .icon-container {
            //         background-position: $valueForBgImages $valueForBgImages;
            //     }
            // }
            //
            // &:nth-child(3) {
            //
            //     .icon-container {
            //     background-position: $valueForBgImages * 2 0;
            //     }
            //
            //     &:hover .icon-container {
            //         background-position: $valueForBgImages * 2 $valueForBgImages;
            //     }
            // }
            //
            // &:nth-child(4) {
            //
            //     .icon-container {
            //     background-position: $valueForBgImages * 3 0;
            //     }
            //
            //     &:hover .icon-container {
            //         background-position: $valueForBgImages * 3 $valueForBgImages;
            //     }
            // }


            // tutto questo si potrebbe semplificare con un ciclo for di sass

            // POSSIAMO PARTIRE DA 0 A 3
            // @for $i from 0 through 3 {
            //     &:nth-child(#{$i + 1}) {
            //         .icon-container {
            //         background-position: $valueForBgImages * $i 0;
            //         }
            //
            //         &:hover .icon-container {
            //             background-position: $valueForBgImages * $i $valueForBgImages;
            //         }
            //     }
            // }

            // OPPURE DA 1 A 4
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    .icon-container {
                    background-position: ($valueForBgImages * ($i - 1)) 0 ;
                    }

                    &:hover .icon-container {
                        background-position: ($valueForBgImages * ($i - 1)) $valueForBgImages;
                    }
                }
            }
        }
    }

}

























/**/
