$mainColor : #0282f9;
$cardsBgColor: #1c1c1c;
$mainTextColor: #fff;
$secondaryTextColor: #464646;
$singlePagTextColor: #003f5e;
$mainFontSize: 16px;
$secondaryFontSize: 26px;
$mainSpace: 20px;

$valueForBgImages: 37px;
